<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-3 col-md-2 sidebar" th:fragment="common_side">
    <div class="tree">
        <ul style="padding-left:0px;" class="list-group" th:if="${session.myPermission!=null}">
            <th:block  th:each="permission:${session.myPermission.children}">

            <li class="list-group-item tree-closed" th:if="${permission.children.empty}">
                <i th:class="${permission.icon}"><a th:href="@{|/${permission.url}|}" th:text="${permission.name}"> </a></i>
            </li>

            <li class="list-group-item tree-closed" th:if="${!permission.children.empty}">
                <i th:class="${permission.icon}"><span th:text="${permission.name}"> 权限管理 </span></i><span class="badge" style="float:right" th:text="${permission.children.size()}">3</span>

                <ul style="margin-top:10px; display:none;">
                    <th:block  th:each="innerpermission:${permission.children}">
                    <li style="height:30px;">
                        <i th:class="${innerpermission.icon}"><a th:href="@{|/${innerpermission.url}|}" th:text="${innerpermission.name}" th:id="${innerpermission.id}">
                            用户维护</a></i>
                    </li>
                    </th:block>
                </ul>

            </li>
            </th:block>


            <!--<li class="list-group-item tree-closed">
                <a th:href="@{/main}"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
            </li>
            <li class="list-group-item tree-closed" >
                <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 权限管理 <span class="badge"
                                                                                     style="float:right">3</span></span>
                <ul style="margin-top:10px; display:none;">
                    <li style="height:30px;">
                        <a th:href="@{/user/findAll/1}" id="user"><i class="glyphicon glyphicon-user"></i>
                            用户维护</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role/role}" id="role"><i class="glyphicon glyphicon-king"></i> 角色维护</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/permission/permission}" id="permission"><i class="glyphicon glyphicon-lock"></i> 许可维护</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item tree-closed">
                <span><i class="glyphicon glyphicon-ok"></i> 业务审核 <span class="badge"
                                                                        style="float:right">3</span></span>
                <ul style="margin-top:10px;display:none;">
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-check"></i> 实名认证审核</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}" id="adv"><i class="glyphicon glyphicon-check"></i> 广告审核</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-check"></i> 项目审核</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item tree-closed">
                <span><i class="glyphicon glyphicon-th-large"></i> 业务管理 <span class="badge" style="float:right">7</span></span>
                <ul style="margin-top:10px;display:none;">
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-picture"></i> 资质维护</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-equalizer"></i> 分类管理</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-random"></i> 流程管理</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-hdd"></i> 广告管理</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-comment"></i> 消息模板</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-list"></i> 项目分类</a>
                    </li>
                    <li style="height:30px;">
                        <a th:href="@{/role}"><i class="glyphicon glyphicon-tags"></i> 项目标签</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item tree-closed">
                <a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 参数管理</a>
            </li>-->
        </ul>
    </div>
</div>



</body>
</html>